
mixin genFieldActions(actions, item)
  for action in actions
    | &nbsp;
    if action.html
      != action.html.call(item, modelConfig.name)
    else if action.type == 'link'
      a(href=action.href.call(item, modelConfig.name), target=action.target, class=action.classes)= action.text

extends layout

block content
  table.table.items_list
    thead
      tr
        th №
        for field in modelConfig.list.fields
          th= field.label
        if adminConfig.fieldActions.length || modelConfig.list.fieldActions.length
          th Действия
    tbody
      - var num = 0;
      for item in collection
        tr
          th= ++num
          for field in modelConfig.list.fields
            if field.field
              //if item.populated(field.field) && item[field.field]
              // td
              //   a(href='/admin/edit/' + field.populatedCollection + '/' + item[field.field].id, target="_blank")= item[field.field][field.populateField]
              //else
              td!= item.get(field.field) || '---'
            else if field.value
              td!= field.value.call(item, item)
          if modelConfig.list.fieldActions && modelConfig.list.fieldActions.length
            td
              +genFieldActions(modelConfig.list.fieldActions, item)
          else if adminConfig.fieldActions.length && modelConfig.list.fieldActions !== false
            td
              +genFieldActions(adminConfig.fieldActions, item)

  if modelConfig.list.listActions && modelConfig.list.listActions.length
    for listAction in modelConfig.list.listActions
      != listAction.html(modelConfig)
  else if adminConfig.listActions.length && modelConfig.list.listActions !== false
    for listAction in adminConfig.listActions
      != listAction.html(modelConfig)
