div.form-group
  label(for=field.id, class="col-sm-2 control-label")= field.label
  - var hasHint = !!field.hint;
  div(class="col-sm-" + (hasHint ? '7' : '10'))
    - var fieldName = field.sourceField || field.name;
    - var value = document.get(fieldName) || document[fieldName] || '';
    - if(value.id) value = value.id;
    - if(_.isArray(value)) value = _.map(value, 'id')
    - else if(typeof value === 'object') value = JSON.stringify(value.toObject ? [value.toObject()] : value);
    input(
      class='hide cropp-photoId',
      name=field.name,
      value=value,
      id=field.id,
      type='text',
      hidden
      required=field.required,
    )

    label(for='upload', class="btn btn-default upload_btn #{field.required ? 'required' : ''}")
      span Обзор...
      input(
      name='upload',
      value,
      id='upload',
      type='file',
      hidden,
      required=field.required,
      data-settings!=_.omit(field, 'value')
      )
    .upload-result(class="btn btn-default") Зафискировать
    .cropp-images
      .cropp-images-item
        if !document.isNewRecord
          - var documentValue = document.get(fieldName) || document[fieldName];
          if documentValue && !_.isEmpty(field.previews)
            - var previewName = Object.keys(field.previews)[0];
            if documentValue.meta.previews && documentValue.meta.previews[previewName].url
              img.cropp-prev(src=documentValue.meta.previews[previewName].url, data-id=documentValue.id)
            else
              img.cropp-prev
          else
          img.cropp-prev
        else
          img.cropp-prev
      #upload-cropp.upload-demo.cropp-images-item
