
script.
  setTimeout(function() {
    $(function() {
      $(document).on('click', '.remove_file', function() {
        $(this).closest('.file').remove();
      });
    });
  }, 1500);

div.form-group
  label(for=field.id, class="col-sm-2 control-label")= field.label
  .col-sm-10
    if _.isArray(field.value)
      .files_list
        for file, index in field.value
          .file
            - var url = field.urlField ? file[field.urlField] : file;
            - var name = field.nameField ? file[field.nameField] : file;
            a(href=url, target="_blank")= name
            if field.urlField
              for docField, docFieldName in file.toObject()
                input(type="hidden", name="#{field.name}[#{index}][#{docFieldName}]", value=docField)
            else
              input(type="hidden", name="#{field.name}[#{index}]", value=file)

            button(type="button").btn.btn-sm.btn-danger.remove_file x

