
div.form-group
  label(for=field.id, class="col-sm-2 control-label")= field.label
  .col-sm-7
    - var value = document.get(field.name) || '';
    - if(_.isArray(value)) value = JSON.stringify(value)
    - else if(typeof value === 'object') value = JSON.stringify([value]);
    button(type="button").btn.btn-default.upload_btn
      span Обзор...
      input(
        class!=[field.class, 'image_field'].join(' '),
        name=field.name,
        value=value,
        id=field.id,
        type='file',
        required=field.required,
        data-settings!=field,
        multiple=!!field.array
      )
    .previews_list
      if !_.isEmpty(field.previews)
        - var previewName = Object.keys(field.previews)[0];
        if _.isArray(document.get(field.name))
          for image in document.get(field.name)
            .item
              img(src=image.previews[previewName].url)
              .del_image x
        else if document.get(field.name).previews[previewName].url
          .item
            img(src=document.get(field.name).previews[previewName].url)
            .del_image x
      else
        .item
          img(src=document.get(field.name)[field.originalField])
          .del_image x
  .col-sm-3= field.hint
