
div.form-group
  label(for=field.id, class="col-sm-2 control-label")= field.label
  - var hasHint = !!field.hint;
  div(class="col-sm-" + (hasHint ? '7' : '10'))
    - var fieldName = field.sourceField || field.name;
    - var value = document.get(fieldName) || document[fieldName] || '';
    - if(value.id) value = value.id;
    - if(_.isArray(value)) value = _.map(value, 'id')
    - else if(typeof value === 'object') value = JSON.stringify(value.toObject ? [value.toObject()] : value);
    button(type="button").btn.btn-default.upload_btn
      span Обзор...
      input(
        class!=[field.class, 'image_field'].join(' '),
        name=field.name,
        value=value,
        id=field.id,
        type='file',
        required=field.required,
        data-settings!=_.omit(field, 'value'),
        multiple=!!field.array
      )
    .previews_list
      if !document.isNewRecord
        - var documentValue = document.get(fieldName) || document[fieldName];
        if documentValue
          if !_.isEmpty(field.previews)
            - var previewName = Object.keys(field.previews)[0];
            if _.isArray(documentValue)
              for image in documentValue
                if image.previews[previewName].url
                  .item
                    img(src=image.previews[previewName].url, data-url=image[field.originalField])
                    .del_image x
            else if documentValue.meta.previews && documentValue.meta.previews[previewName].url
              .item
                img(src=documentValue.meta.previews[previewName].url, data-url=documentValue[field.originalField])
                //.del_image x
          else if documentValue[field.originalField]
            .item
              img(src=documentValue[field.originalField], data-url=documentValue[field.originalField])
              .del_image x
          else if _.isArray(documentValue)
            for media in documentValue
              .item.readerPreviewWrp.uploaded
                img(src=media.url)
                .del_preview x
  if hasHint
    .col-sm-3= field.hint
