
style.
  .districts_map {
    width: 966px;
    position: relative;
  }

  .districts_map g {
    fill: white;
    stroke: transparent;
    pointer-events: all;
    cursor: pointer;
  }
  .districts_map g path {
    stroke: #9b9b9b;
  }

  .districts_map g.active path {
    stroke: red;
    stroke-width: 4px;
  }

  .districts_map g:hover path {
    stroke: red;
  }

  .draggable {
    width: 20px;
    height: 20px;
    background-color: red;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    margin-top: -10px;
    margin-left: -10px;
  }


script.
  setTimeout(function() {
    $(function() {
      var $mapInput = $('input[type="hidden"].map'),
          $districts_map = $('.districts_map');

      if($mapInput.val()) {
        $districts_map.find('svg > g[id="'+ $mapInput.val() +'"]').attr('class', 'active');
      }

      $(document).on('click', '.districts_map svg > g', function() {
        var $this = $(this);

        $mapInput.val($this.attr('id'));
        $this.siblings('g').attr('class', '');
        $this.attr('class', 'active');
        $('input[name="position.left"]').val($this.offset().left - $districts_map.offset().left + ($this[0].getBoundingClientRect().width / 2));
        $('input[name="position.top"]').val($this.offset().top - $districts_map.offset().top + ($this[0].getBoundingClientRect().height / 2));
      });
    });
  }, 500);

if field.selectPoint
  script.
    setTimeout(function() {
      $(function () {
        var $districts_map = $('.districts_map'),
            $positionTopInput = $('input[name="position.top"]'),
            $positionLeftInput = $('input[name="position.left"]'),
            $district_location = $('input[name="district_location"]'),
            $point = $('.point.draggable');

        $point.draggable({
          stop: function(event, ui) {
            $positionTopInput.val(((ui.offset.top - $districts_map.offset().top) * 100) / $districts_map.height());
            $positionLeftInput.val(((ui.offset.left - $districts_map.offset().left) * 100) / $districts_map.width());
          }
        });

        if($positionTopInput.val()) {
          $point.css({top: ~~$positionTopInput.val() + '%'});
        }
        if($positionLeftInput.val()) {
          $point.css({left: ~~$positionLeftInput.val() + '%'});
        }

        if($district_location.val()) {
          $districts_map.find('svg > g[id="'+ $district_location.val() +'"]').attr('class', 'active');
        }
      });
    }, 500);

div.form-group
  label(for=field.id, class="col-sm-2 control-label")= field.label
  .col-sm-10
    input(type="hidden", name=field.name, value!=field.value, id=field.id, class!=field.class, required=field.required)
    if field.selectPoint
      input(type="hidden", name="district_location", value=document.district && document.district.location || '')
      p Перетащите красную точку на карту для выбора позиции проекта на карте района:
    .districts_map
      if field.selectPoint
        .point.draggable
      | !{svgMap}

