
div.form-group
  label(for=field.id, class="col-sm-2 control-label")= field.label
  - var hasHint = !!field.hint;
  div(class="col-sm-" + (hasHint ? '7' : '10'))
    select(name=field.name, id=field.id, class!=field.class, required=field.required)
      if typeof field.default !== 'undefined'
        option(value=field.default)= field.default
      else
        option() ---
      for value in _.result(field, 'options')
        //- console.log(document);
        - var val = document && document.populated && document.populated(field.name) || field.value;
        option(value=value.val, selected=(value.val == val))= (value.title || value.val)
  if hasHint
    .col-sm-3= field.hint
